html{
    overflow-x: hidden;
}
body{
    color: #555555;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(172,98,222);
background: linear-gradient(90deg, rgba(172,98,222,0.22737819025522044) 0%, rgba(253,29,29,0.23201856148491884) 46%, rgba(252,176,69,0.25522041763341063) 100%);
}

.BAS{
    border-radius: 0 0 20px 20px;
}

.li{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    margin: 10px;
    background: #fff;
}

.ul{
    list-style-type: none;
}

.checkbox{
    margin: 10px;
}

.btnLi{
    margin: 10px;
}
.divCenter{
    margin: 20px auto;
}

.divButton{
    display: flex;
}

.tiktaktoeContent{
    width: 75vw;
    height: 75vw;
    background-color: #fff;
}

.tiktaktoeContent > div {
    height: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.p{
    font-size: 15vw;
    display: flex;
    margin: 0;
    color: black;
}

#form{
    min-width: 50vw;
}
.winColor{
    font-size: 15vw;
    display: flex;
    margin: 0;
    color: red;
}

.todoContent{
    border: solid white 4px;
    border-radius: 20px;
;


}

@media screen and (min-width: 762px) {
    .tiktaktoeContent{
        width: 75vh;
        height: 75vh;
    }
    .tiktaktoeContent > div {
        height: 25vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .p{
        font-size: 15vh;
    }
    .winColor{
        font-size: 15vh;
    }
  }
